MONGO_URI=mongodb://root:password@127.0.0.1:27017/novi?authSource=admin
PG_USER=admin
PG_PASSWORD=password
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DATABASE=novi
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=password
REDIS_PORT=6379
KAFKA_BROKERS=127.0.0.1:29092,
RABBITMQ_URI=amqp://admin:password@127.0.0.1